<div class="template-test">
  <h1>Hello from test ref. Title: {{ page.title }}</h1>
  <div class="content">{{ page.content }}</div>
  <p>Input: {{ section.settings['input-field'] }}</p>
</div>

{% schema %}
  {
    "name": "Test Reference",
    "settings": [
      {
        "id": "input-field",
        "type": "text",
        "default": "This is default value",
        "label": "A reference test"
      }
    ]
  }
{% endschema %}